.navbar-fixed-top > .navbar {
  background: rgba(77,77,77,0.8)
}

.top-nav-collapse > nav.navbar {
  background: #A4C2A5 !important
}

.footer {
  background: black;
}

#intaglio-over-years{
  background: url(../img/imagesforwebsite/10.jpg) no-repeat center center;
}

.text-over{
  color: white;
  font-weight: bold;
}

li#home.js_nav-item.nav-item.active {
  background-color: darkgrey;
  /*height: 71px;*/
}

li.js_nav-item.nav-item.active {
  background-color: darkgrey;
  height: 71px;
}

li.js_nav-item.nav-item{
  height: 71px;
}


#slide_img img{
  width : 250px;
}

#work > .swiper-clients-img{
  width : 212px;
}

#contact > .section-seperator > .content-md > .row > .col-sm-3 > .team-label >  .flip-container > .flipper > .front > .swiper-clients-img {
  height: 246px;
}


a.header.nav-item-hover {
  margin-top: -10px
}

@media (max-width: 768px) {
  #slide-img {
    width: 300px;
    margin-left: 10px;
    border:'5'
  }
}

.overlay-container {
    margin: 0 auto;
    width: 200px;
    height: 180px;
}

/*
 * Caption component
 */
.caption {
    position: relative;
    overflow: hidden;

    /* Only the -webkit- prefix is required these days */
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}

.caption::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    transition: background .35s ease-out;
}

.caption:hover::before {
    background: rgba(0, 0, 0, .5);
}

.caption__media {
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: auto;
}

.caption__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white;

    -webkit-transform: translateY(300px);
            transform: translateY(300px);

    transition: -webkit-transform .35s ease-out;
    transition:         transform .35s ease-out;
}

.caption:hover .caption__overlay {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

.caption__overlay__title {

    font-size : 18px;
    color: white;
    -webkit-transform: translateY( -webkit-calc(-100% - 10px) );
            transform: translateY( calc(-100% - 10px) );

    transition: -webkit-transform .35s ease-out;
    transition:         transform .35s ease-out;
}

.caption:hover .caption__overlay__title {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;

	border: 1px solid #ccc;
}

@media screen and (min-width: 991px) {
	.flip-container:hover .flipper,
  .flip-container.hover .flipper {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}
}

.flip-container, .front {
  width: 202px;
  height: 246px;
}

.front {
  z-index: 2;
}

.back{
  width: 200px;
  height: 244px;
}

.back-title {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: black;
}

.back-position {
  display: block;
  text-align: center;
  margin-top: -20px;
  color: black;
}

.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;

  -o-transition: 0.6s;
	-o-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.front {
	/*background: url(http://davidwalsh.name/demo/dwflip.jpg) 0 0 no-repeat;*/
	z-index: 2;
}

.back {

	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);

	background: #f8f8f8;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100000000000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    text-align: center;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media(max-width: 991px) and (min-width:480px) {
  .team-label {
        margin-left: 57px;
  }
}

@media screen and (max-width: 991px) {
  .carousel {
    margin-top: 90px;
  }

}

@media screen and (max-width: 1205px) {
  .navbar-fixed-top > .navbar {
    background: white
  }
}

.team-label {
    width: 202px;
    background: white;
    height: 310px;
    box-shadow: 0px 1px 4px rgba(0,0,0,.31);
}

.member-info1 {
  height: 70px;
  width: 201px;
  box-shadow: 0px 1px 4px rgba(0,0,0,.31);
}

.member-info1-flip {
  height: 72px;
  width: 201px;
  box-shadow: 0px 1px 4px rgba(0,0,0,.31);
  margin-top: 110px;
}

.title-four {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.9;
  letter-spacing: .6px;
  text-transform: uppercase;
}
.member-role {
  margin-top: -16px;
}
.contact-list {
  align-items: center;
  margin-top: 70px;
}

.fa {
    padding: 10px;
    font-size: 23px;
    width: 36px;
    text-align: center;
    text-decoration: none;
}

.btn-danger {
  margin-left: 173px;
  margin-top: -1px;
}

.ps-slides,.nav-reg,.header-slider {
  cursor: pointer;
}

.header-slider:hover {
  opacity: 0.7;
}

@media (max-width: 991px) {
  #contact > .section-seperator > .container > .row > [class*="col-"] {
    margin-right: 54px;
  }
  .row {
    margin-left: -9px;
  }
}

@media (max-width: 991px) {
  .col-sm-5 {
      width: 45.666667%;
  }
}

@media (min-width: 992px) {
  .remove-intag-heading-large {
    display: none;
  }
}

@media (max-width: 992px) {
  .remove-intag-heading-small {
    display: none;
  }
}

/*.alternate-color {
  background: rgba(240,248,255, 0.5);
}*/

#contact > .section-seperator > .container > .row > .team {
  padding-top: 15px;
  padding-bottom: 15px;
  /*background-color: #eee;*/
  /*border: 1px solid #ddd;*/
  /*background-color: rgba(86,61,124,.15);*/
  /*border: 1px solid rgba(86,61,124,.2);*/
  display: flex;
  justify-content: center;
}

.footer > .content > .row {
  justify-content: center;
  display: flex;
  align-items: flex-start;
}
.footer > .conatiner > .row > .footer-detail {
  padding-top: 15px;
  padding-bottom: 15px;
}


// Events

#events > .conatiner > .intag-event-section {
  zoom: 1;
  position: relative;
}
.intag-event-section:after,
.intag-event-section:before {
  content: "";
  display: table;
}
.intag-event-section:after {
  clear: both;
}

.intag-event-section h4 {
  background: ghostwhite;
  cursor: pointer;
  border: 1px solid rgba(0,0,0,0.2);
  border-top: none;
  padding: 15px 20px;
}
.intag-event-section h4:first-child {
  border-top: 1px solid rgba(0,0,0,0.2);
}
@media screen and (min-width: 600px) {
  .intag-event-section h4 {
    position: relative;
    width: 33.333333333333336%;
    height: 20%;
    display: block;
  }
}

.content-child {
  height: 600px;
}
.intag-event-section div {
  zoom: 1;
  position: relative;
  min-height: 96%;
  border: 1px solid rgba(0,0,0,0.2);
  border-left: none;
  display: none;
  padding: 10px;
}
.intag-event-section div:after,
.intag-event-section div:before {
  content: "";
  display: table;
}
.intag-event-section div:after {
  clear: both;
}
/*.intag-event-section ul li {
  list-style: circle;
}*/
@media screen and (min-width: 600px) {
  .intag-event-section div {
    position: absolute;
    width: 66.66666666666667%;
    right: 0;
    top: 0;
    padding: 15px 30px;
  }
}
.intag-event-section .active {
  cursor: default;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-right: none;
}


h4.intag-event-section-h4.active {
  background: lightsteelblue;
}

@media screen and (min-width: 600px) {
  .intag-event-section .active {
    background: rgba(0,0,0,0);
    border-right: 1px solid rgba(0,0,0,0);
  }
}
.intag-event-section .active + div {
  display: block;
  /*height: 350px;*/
}

.intag-tabs {
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.intag-tabs-child {
  width: 177px;
  height: 45px;
  padding: 14px;
  color: white;
  background: #ed5a6a;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
}

.intag-tabs-child:hover {
  cursor : pointer;
  opacity: 0.7;
}

@media screen and (min-width: 768px) {

  .intag-tabs {
    display: flex;
  }
  .intag-tab-dropdown {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .intag-tabs {
    display: none;
  }
  .intag-tab-dropdown {
    display: block;
  }
}

.intag-tab-dropdown > .dropdown > .dropdown-menu {
  cursor: pointer;
}



#content2, #content3, #content4, #content5, #content6, #content7, #content8, #content9,
#content10, #content11 {
  display: none;
}

#content2-small-screen, #content3-small-screen, #content4-small-screen, #content5-small-screen, #content6-small-screen, #content7-small-screen, #content8-small-screen, #content9-small-screen,
#content10-small-screen, #content11-small-screen {
  display: none;
}

blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;

  /*Font*/
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;

  /*Borders - (Optional)*/
  border-left: 15px solid lightsteelblue;
  border-right: 2px solid lightsteelblue;

  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/

  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;

  /*Positioning*/
  position: absolute;
  left: 10px;
  top:-5px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}

blockquote > .author-right {
      text-align: right;
}

.event-img {
  margin: 0 auto;
  display: block;
  height: 150px;
}



@media screen and (min-width:991px) {
  .large-screen {
    display: block;
  }
  .small-screen {
    display: none
  }
  .speaker-img-small {
    display: none
  }
  .intag-event-section .active + div {
    height: 350px;
  }
  #work {
        margin-top: -280px;
  }
  #events {
    padding-bottom: 0px;
  }
}

@media screen and (max-width:991px) {

  .large-screen {
    display: none;
  }
  .small-screen {
    display: block
  }

  #products > .container > div.swiper-slider > div.swiper-wrapper > div.swiper-slide {
    justify-content: center;
    display: flex;
  }

  #contact > .section-seperator > .container > div.swiper-slider > div.swiper-wrapper > div.swiper-slide {
    justify-content: center;
    display: flex;
  }

  li.js_nav-item.nav-item {
    height: 42px;
  }
  li.js_nav-item.nav-item.active {
    height: 42px;
  }
  a.native-item-child.nav-item-hover {
    color: white !important
  }
}

div.event-content {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  border: none;
  padding-top: 130px;
}

.contact-mobile-img {
  width: 88px;
  height: 129px;
  margin-bottom: 5px;
  margin-right: 7px;
}

.btn-default.btn-event-large {
  border: 3px solid black;
  bottom: 39px;
  right: 31px;
}
.btn-info.btn-event-large {
  border-radius: 5px;
  padding: 8px 12px;
  bottom: 37px;
  right: 121px;
}
.btn-event-large {
  position: absolute;
}

.intag-tabs-child-active {
  border: 1px solid #ccc;
  color: black;
  text-decoration: underline;
  font-weight: 500;
  padding: 12px;
  box-shadow: 2px 10px 10px #ccc;
}

.alternate-color {
  background: beige
}

.past-highlights {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.past-highlights-symbol {
  font-size: 42px;
  color: coral;
}

.past-highlights-info {
  font-size: 20px;
  margin-left: 23px;
}

div.wrapper{
	float:left; /* important */
	position:relative; /* important(so we can absolutely position the description div */
}
div.description{
	position:absolute; /* absolute position (so we can position it where we want)*/
	bottom:0px; /* position will be on bottom */
	left:0px;
	width:100%;
	/* styling bellow */
	background-color:black;
	color:white;
	opacity:0.8; /* transparency */
	filter:alpha(opacity=60); /* IE transparency */
}
p.description_content{
	padding:5px;
	margin:0px;
	font-size: 14px;
  font-weight: bold;
}
div.intag-team-title {
  background: white;
  color: black;
  height: 135px;
  width: 220px;
  margin-left: 1px;
  top:-60px;
  box-shadow: 2px 2px 15px #ccc;
  border: 1px solid #ccc;
  position: relative;;
}
div.intag-team-info {
  position: absolute;
  margin: 10px;
}
